{{> welcomemenu }}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
  <div class="column">
    <img src="https://cdn.glitch.com/99acd135-2e3e-48e0-9427-ff80df5d58f0%2Fabout.jpg?v=1565437956493" width = "545">
  </div>
</section>